

.row{
  clear: both;
}
.superior {
  background-color:#69c056;
  color: white;
  text-align: center;
  font-family: arial;
  margin: 0px 0px 40px 0px;
  padding: 50px;
  height: 30vh;
  font-size: 20px;
  }


.box {
      float: left;
      width: 33%;

}
@media(max-width: 480px){
  .box {
       float: left:
        clear: both;
        width: auto;
  }
}
img{
  width:95%;
  height:auto;
}

p {
  font-family: verdana;
  font-size: 12px;
}
